{% extends 'parts/body.html' %}
{% block 'content' %}

<section class="vote">
    <div class="poll">
    <p>{{poll.question}}</p>
    </div>
    <form action="" method="post">
        {% csrf_token %}
    <div class="items">
        <input type="radio"  name="poll" value="option1">
        <label>{{poll.option1}}</label>
        <input type="radio"  name="poll" value="option2">
        <label>{{poll.option2}}</label>
        <input type="radio"  name="poll" value="option3">
        <label>{{poll.option3}}</label>
        </div>
        <div class="submit">
        <input type="submit" value="Submit" class="button">
        </div>
    </form>
</section>
{% endblock %}